html {
    font-family: Helvetica, sans-serif;
}

nav, ul, li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: green;
    padding-left: 30px;
}

div {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    margin-right: 70px;
}